@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(./font/style.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121718;
  height: 100vh;
}

header {
  background-color: #121718;
  z-index: 3;
  backdrop-filter: blur(2px);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header .logo {
  width: 10%;
}

header ul {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

header ul li {
  list-style: none;
  padding: 0px 40px;
}

header ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-family: "Gordita Bold";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

header ul li:last-child a {
  background-color: #313131;
  border-radius: 50px;
  padding: 14px 18px;
}

header ul li .active {
  color: #5bebaf;
}

/* Hero Banner */
.hero-banner {
  height: auto;
}

.hero-banner .container {
  padding: 0px 40px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner .container h1 {
  position: absolute;
  width: 1160px;
  height: 360px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #ffffff;
}

.hero-banner img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

/* Our Capabilities */
.our-capabilities {
  margin: 0px;
  height: auto;
}

.our-capabilities .container {
  padding: 0px 60px;
  height: auto;
  background-color: #fff;
}

.our-capabilities .container .title {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  padding: 40px 80px;
  margin: 0px;
}

.our-capabilities .container h1 {
  width: 558px;
  height: 100px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 100px;
  color: #121718;
}

.our-capabilities .container .row {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding: 0px 0px 50px 0px;
}

.our-capabilities .container .row .col {
  flex-basis: 20%;
}

.our-capabilities .container .row .col h2 {
  width: 108px;
  height: 62px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 62px;
  color: #121718;
}

.our-capabilities .container .row .col p {
  width: 268px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #121718;
}

/* About People */
.about-people {
  height: auto;
}

.about-people .title {
  padding: 20px 120px;
  background-color: #121718;
}

.about-people .title h1 {
  width: 1160px;
  height: 270px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #ffffff;
}

.about-people .people {
  padding: 0px 540px;
  height: auto;
  background-color: #fff;
}

.about-people .people .row {
  padding: 80px 0px;
  margin: 40px 0px;
  width: 90%;
  display: flex;
  justify-content: center;
  column-gap: 35px;
}

.about-people .people .row .col {
  flex-basis: 30%;
}

.about-people .people .row .col img {
  width: 100%;
}

.about-people .people .row .col h2 {
  width: 195px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #121718;
}

.about-people .people .row .col p {
  width: 395px;
  height: 72px;
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #121718;
}

/* Our Culture */
.our-culture {
  height: auto;
}

.our-culture .container {
  height: auto;
  padding: 40px;
}

.our-culture .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  columns: 50px;
}

.our-culture .container .row .col h1 {
  width: 565px;
  height: 270px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #ffffff;
}

.our-culture .container .row .col .column {
  margin: 100px 0px;
}

.our-culture .container .row .col .column h2 {
  width: 315px;
  height: 62px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 62px;
  color: #ffffff;
}

.our-culture .container .row .col .column p {
  width: 565px;
  height: 108px;
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
}

.our-culture .container .row:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 150px;
}

.our-culture .container .row:last-child .col {
  flex-basis: 50%;
}

.our-culture .container .row:last-child .col img {
  width: 100%;
  opacity: 0.3;
}

.our-culture .container .row:last-child .col:last-child h1 {
  width: 466px;
  height: 180px;
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #ffffff;
}

.our-culture .container .row:last-child .col:last-child h3 {
  width: 466px;
  height: 248px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 62px;
  color: #ffffff;
}

.our-culture .container .row:last-child .col:last-child span {
  color: #5bebaf;
}

/* About our Clients */
.about-clients {
  height: auto;
  margin: 5px 0px;
}

.about-clients .container {
  padding: 40px 60px;
  height: auto;
  background-color: #fff;
}

.about-clients .container .row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.about-clients .container .row .col {
  flex-basis: 50%;
}

.about-clients .container .row .col img {
  width: 100%;
}

.about-clients .container .row .col h1 {
  width: 565px;
  height: 450px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #121718;
}

/* Lets Discuss Start */
.lets-discuss {
  height: auto;
}

.lets-discuss .container {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: auto;
}

.lets-discuss .container h1 {
  margin: 60px 0px;
  text-align: center;
  width: 100%;
  height: 90px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 90px;
  color: #121718;
}

.lets-discuss .container .button {
  margin-bottom: 50px;
}

.lets-discuss .container .button a {
  text-align: center;
  text-decoration: none;
  width: 186px;
  height: 60px;
  background: #5bebaf;
  border-radius: 30px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #121718;
  padding: 15px 30px;
  text-transform: uppercase;
}

/* Footer */
footer {
  width: 100%;
}

footer .container {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  width: 100%;
}

footer .container span {
  width: 211px;
  height: 16px;
  font-family: "Gordita";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.3);
}

footer .container ul {
  display: flex;
  justify-content: flex-end;
}

footer .container ul li {
  list-style: none;
  padding: 0px 40px;
}

footer .container ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-family: "Gordita Bold";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

footer .container .social-media ul {
  margin: 0;
  padding: 0;
}

footer .container .social-media ul li {
  text-align: center;
  width: 40px;
  height: 40px;
  list-style: none;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 50%;
  padding: 0px;
  margin-right: 5px;
}

footer .container .social-media ul li a {
  position: relative;
  top: 10px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
