@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url(./font/style.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121718;
  height: 100vh;
}

header {
  background-color: #121718;
  z-index: 3;
  backdrop-filter: blur(2px);
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

header .logo {
  width: 10%;
}

header ul {
  width: 80%;
  display: flex;
  justify-content: flex-end;
}

header ul li {
  list-style: none;
  padding: 0px 40px;
}

header ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-family: "Gordita Bold";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

header ul li:last-child a {
  background-color: #313131;
  border-radius: 50px;
  padding: 14px 18px;
}

header ul li .active {
  color: #5bebaf;
}

/* Dedicated Start */
.dedicated {
  height: 80vh;
}

.dedicated .container {
  height: 80vh;
  padding: 0px 40px;
}

.dedicated .container .row {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 50px;
}

.dedicated .container .row .col {
  flex-basis: 45%;
}

.dedicated .container .row .col h1 {
  width: 110px;
  height: 270px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #ffffff;
}

.dedicated .container .row .col p {
  width: 466px;
  height: 72px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
}

/* About Developers Start */
.about-developers {
  height: auto;
}

.about-developers .container {
  padding: 20px 80px;
  background-color: #fff;
}

.about-developers .container .row {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin: 40px 0px;
}

.about-developers .container .row .col {
  flex-basis: 50%;
}

.about-developers .container .row .col h1 {
  margin: 20px 0px;
  width: 552px;
  height: 48px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: #121718;
}

.about-developers .container .row .col p {
  width: 565px;
  height: 72px;
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #121718;
}

/* Hiring Start */
.hiring {
  height: auto;
}

.hiring .container {
  padding: 20px 80px;
}

.hiring .container h1:first-child {
  margin: 60px 40px;
  width: 1063px;
  height: 180px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #ffffff;
}

.hiring .container .row {
  display: flex;
  justify-content: center;
  column-gap: 15px;
  margin: 40px 0px;
}

.hiring .container .row .col {
  flex-basis: 30%;
}

.hiring .container .row .col span {
  width: 26px;
  height: 74px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 74px;
  color: #5bebaf;
}

.hiring .container .row .col:nth-child(2) span {
  width: 26px;
  height: 74px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 74px;
  color: #0077fc;
}

.hiring .container .row .col:last-child span {
  width: 26px;
  height: 74px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  line-height: 74px;
  color: #ffc4cb;
}

.hiring .container .row .col h1 {
  width: 367px;
  height: 96px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 48px;
  color: #ffffff;
}

.hiring .container .row .col p {
  width: 367px;
  height: 216px;
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
}

.hiring .container .what-we-are p {
  margin: 60px 40px;
  width: 1160px;
  height: 200px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  color: #ffffff;
}

.hiring .container .development .row {
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.hiring .container .development .row .col {
  flex-basis: 30%;
  width: 367px;
  height: 96px;
  background: rgba(91, 235, 175, 0.14);
  border: 2px solid #5bebaf;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hiring .container .development .row .col a {
  text-decoration: none;
  width: 495px;
  height: 50px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 50px;
  color: #5bebaf;
}

/* Technology Start */
.technology {
  height: auto;
}

.technology img {
  width: 100%;
  margin-bottom: 80px;
}

.technology .container {
  padding: 20px 80px;
}

.technology .container h1 {
  margin: 10px 40px;
  width: 1063px;
  height: 180px;
  font-family: "Gordita Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 90px;
  color: #ffffff;
}

.technology .container .row {
  margin: 20px 40px;
  display: flex;
  justify-content: center;
  column-gap: 25px;
}

.technology .container .row .col {
  flex-basis: 15%;
  width: 168px;
  height: 65px;
  background: rgba(0, 119, 252, 0.14);
  border: 2px solid #0077fc;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.technology .container .row .col a {
  text-decoration: none;
  width: 120px;
  height: 23px;
  font-family: "Gordita Light";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #0077fc;
}

.technology .container .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 80px 0px;
}

.technology .container .button a {
  background: #5bebaf;
  border-radius: 30px;
  text-decoration: none;
  width: 195px;
  padding: 20px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #121718;
}

/* Lets Discuss Start */
.lets-discuss {
  height: auto;
}

.lets-discuss .container {
  width: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  height: auto;
}

.lets-discuss .container h1 {
  margin: 60px 0px;
  text-align: center;
  width: 100%;
  height: 90px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 90px;
  color: #121718;
}

.lets-discuss .container .button {
  margin-bottom: 50px;
}

.lets-discuss .container .button a {
  text-align: center;
  text-decoration: none;
  width: 186px;
  height: 60px;
  background: #5bebaf;
  border-radius: 30px;
  font-family: "Gordita Bold";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  color: #121718;
  padding: 15px 30px;
  text-transform: uppercase;
}

/* Footer */
footer {
  width: 100%;
}

footer .container {
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 80px;
  width: 100%;
}

footer .container .logo span {
  width: 211px;
  height: 16px;
  font-family: "Gordita";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #fff;
}

footer .container ul {
  display: flex;
  justify-content: flex-end;
}

footer .container ul li {
  list-style: none;
  padding: 0px 40px;
}

footer .container ul li a {
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  font-family: "Gordita Bold";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

footer .container .social-media ul {
  margin: 0;
  padding: 0;
}

footer .container .social-media ul li {
  text-align: center;
  width: 40px;
  height: 40px;
  list-style: none;
  background: rgba(255, 255, 255, 0.14);
  border-radius: 50%;
  padding: 0px;
  margin-right: 5px;
}

footer .container .social-media ul li a {
  position: relative;
  top: 10px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}